html {
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

#main-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
}

header section {
    flex-grow: 1;
    width: 50%;
}

header section:first-child {
    display: flex;
}

header section:last-child {
    background: linear-gradient(55.22deg, #D95129 -0.02%, #F16521 88.91%);
}

#logo {
    flex-shrink: 1;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #EB6023;
    margin-top: 10px;
    margin-left: 215px;
}

#left-menu {
    flex-grow: 1;
}

#left-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-top: 20px;
}

#left-menu ul li {
    display: inline-block;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14.4px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.312px;
    color: #525256;
}

#left-menu ul li:first-child {
    margin-right: 47.8px;
}

#left-menu ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

#right-menu {
    display: flex;
    float: right;
    margin-top: 19.2px;
    margin-right: 36.6px;
}

#right-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#right-menu ul li {
    display: inline-block;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 13.2px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.286px;
    color: #FFFFFF;
}

#right-menu ul li:first-child {
    margin-right: 36.4px;
}

#right-menu ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

#gear-icon {
    transform: translateY(3px);
}

#right-header-button-container {
    float: right;
    display: flex;
    align-items: center;
    margin-top: 10.4px;
    margin-right: 50.6px;
}

.right-header-button {
    width: 100.4px;
    height: 30.94px;
    background: transparent;
    border: 0.864px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6.912px;
    padding: 0px;
    margin: 0px;
    transition: all 0.1s ease;
}

#right-header-button-container button:first-child {
    margin-right: 18px;
}

.right-header-button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #ccc;
    width: 120px;
    height: 50px;
}

#right-header-button-container button span {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 10.2px;
    line-height: 15px;
    letter-spacing: -0.231579px;
    color: #FFFFFF;
}

.button-icon {
    transform: translateY(3px);
}

#plus-icon {
    width: 15px;
    height: 15px;
}

#section-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

#section-container section:last-child {
    background: linear-gradient(55.22deg, #D95129 -0.02%, #F16521 88.91%);
    overflow: hidden;
}

section {
    flex-grow: 1;
    width: 50%;
    position: relative;
}

#slogan {
    width: 351px;
    height: 96px;
    margin-top: 85px;
    margin-left: 228px;
    padding-right: 30px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 30.4px;
    line-height: 48px;
    letter-spacing: -0.5184px;
    color: #525256;
}

#easy {
    color: #1CA78B;
    text-decoration: underline;
}

#input-container {
    position: absolute;
    float: right;
    width: calc(110% - 215px);
    height: 50px;
    top: 300px;
    left: 215px;
    right: -80px;
    background: #FFFFFF;
    box-shadow: 0px 30px 38px rgba(0, 0, 0, 0.03);
    z-index: 1;
    border-left: 3.6px solid #1CA78B;
}

#input-container input {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 15.2px;
    line-height: 23px;
    letter-spacing: 0.6px;
    color: #BCBCBC;
    width: 88%;
    height: 100%;
    text-indent: 33.3px;
}

#input-container button {
    margin: 0px;
    padding: 0px;
    border: 0px;
    position: absolute;
    right: 40px;
    top: 10px;
}

#search-icon {
    transform: translateY(3px);
    width: 20px;
    height: 20px;
}

#search-icon:hover {
    cursor: pointer;
}

#quicklinks-container {
    margin-left: 215px;
    margin-top: 235px;
    margin-bottom: 10px;
}

#lightning-icon {
    transform: translateY(3px);
}

#quicklinks-container span {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 15.2px;
    line-height: 48px;
    letter-spacing: 3.336px;
    color: #000000;
}

#quicklinks-button-container {
    margin-top: 19.2px;
    margin-left: 215px;
    padding-right: 60px;
}

.quicklink-button {
    margin-right: 10px;
    margin-bottom: 15.89px;
    background: transparent;
    padding: 10px;
    transition: all 0.1s ease;
    border: 2px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 7.68px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.336842px;
    color: #3B3B3B;
}

.quicklink-button:hover {
    cursor: pointer;
    overflow: hidden;
}

.quicklink-button.orange-button {
    border: 2px solid #F16521;
    color: #F16521;
}

.transparency-level-1 {
    opacity: 0.7;
}

.transparency-level-2 {
    opacity: 0.5;
}

.transparency-level-3 {
    opacity: 0.3;
}

.transparency-level-4 {
    opacity: 0.2;
}

#box-container {
    margin-left: calc(50% - 300px / 2);
    margin-top: 90px;
    position: relative;
    width: 300px;
}

.box {
    width: 300px;
    height: 230px;
    background: #ED6E2D;
    mix-blend-mode: screen;
    opacity: 0.3;
    border-radius: 9.6px;
}

.box-item {
    width: 300px;
    height: 230px;
    position: absolute;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}

.box-item:hover {
    width: 320px;
    height: 250px;
    background: white;
    border-radius: 9.6px;
    cursor: pointer;
}

.box-span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 21px;
    color: #FFFFFF;
}

.box-item:hover .box-span {
    font-size: 21px;
    color: black;
}

#top-box-item {
    top: 0px;
    left: 0px;
}

#top-box-item img {
    margin-left: 59px;
    margin-right: 10px;
    height: 60px;
}

#top-box-item div:last-child {
    border-left: 1px solid white;
    padding: 10px 10px;
}

#top-box-item:hover {
    left: calc(50% - 320px / 2);
}

#top-box-item:hover img {
    filter: invert(48%) sepia(58%) saturate(3022%) hue-rotate(348deg) brightness(98%) contrast(93%);
    height: 70px;
}

#top-box-item:hover div:last-child {
    border-left: 1px solid #ED6E2D;
    padding-left: 10px;
    padding-right: 10px;
}

#middle-box-item {
    top: 230px;
    left: 0px;
}

#middle-box-item img {
    height: 40px;
    margin-left: 20px;
    margin-right: 10px;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(209deg) brightness(116%) contrast(601%);
}

#middle-box-item span {
    display: block;
}

#middle-box-item div:last-child {
    border-left: 1px solid white;
    padding: 10px 10px;
}

#view-more {
    font-size: 10px;
    line-height: 10px;
    border-bottom: 1px solid white;
    width: 34%;
    margin-top: 10px;
}

#middle-box-item:hover {
    left: calc(50% - 320px / 2);
}

#middle-box-item:hover img {
    height: 50px;
    filter: invert(0%);
}

#middle-box-item:hover div:last-child {
    border-left: 1px solid #F16521;
}

#middle-box-item:hover #view-more {
    color: #1CA78B;
    border-bottom: 1px solid #1CA78B;
    font-size: 10px;
}

#bottom-box-item {
    left: 0px;
    top: 460px;
}

#bottom-box-item img {
    height: 40px;
    margin-left: 54px;
    margin-right: 10px;
}

#bottom-box-item div:last-child {
    border-left: 1px solid white;
    padding: 10px 10px;
}

#bottom-box-item:hover {
    left: calc(50% - 320px / 2);
}

#bottom-box-item:hover img {
    filter: invert(48%) sepia(58%) saturate(3022%) hue-rotate(348deg) brightness(98%) contrast(93%);
    height: 50px;
}

#bottom-box-item:hover div:last-child {
    border-left: 1px solid #F16521;
}

.background-design {
    background: linear-gradient(36.15deg, #D95129 -27.59%, #F16521 127.78%);
    mix-blend-mode: screen;
    opacity: 0.2;
    border-radius: 7.2px;
    transform: rotate(30deg);
    position: absolute;
}

#background1 {
    width: 129.85px;
    height: 129.85px;
    left: -62px;
    top: 85px;
}

#background2 {
    width: 168.98px;
    height: 168.98px;
    left: 65px;
    top: -85px;
    z-index: 1;
}

#background3 {
    width: 100.58px;
    height: 100.58px;
    left: 140px;
    top: 120px;
}

#background4 {
    width: 250px;
    height: 250px;
    left: 40px;
    bottom: -70px;
}

#background5 {
    width: 138px;
    height: 138px;
    left: 170px;
    bottom: -90px;
}

#background6 {
    width: 270px;
    height: 270px;
    right: 145px;
    bottom: -195px;
}

#background7 {
    width: 220px;
    height: 220px;
    right: 5px;
    bottom: 0px;
}

#background8 {
    width: 210px;
    height: 210px;
    right: -10px;
    top: 48px;
}

.circular-design {
    border-radius: 100px;
}

#background9 {
    width: 93.6px;
    height: 93.6px;
    left: 0px;
    bottom: 290px;
}

#background10 {
    width: 120px;
    height: 120px;
    right: 118.4px;
    bottom: 355px;
}

.doghnut-design {
    mix-blend-mode: screen;
    opacity: 0.11;
    border: 36px solid #ED7936;
    border-radius: 129.6px/129.6px;
    box-sizing: border-box;
    background: #f00;
}

#background11 {
    width: 129.6px;
    height: 129.6px;
    left: 180.4px;
    top: 330px;
}

#background12 {
    position: absolute;
    width: 129.6px;
    height: 129.6px;
    left: -100px;
    top: 265px;
    background: linear-gradient(48.55deg, #D95129 19.25%, #F16521 98.13%);
    border-radius: 30px;
    transform: matrix(0.87, -0.5, -0.5, -0.87, 0, 0);
}